body{
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
}

/* Header */
.header{
    background-color: rgba(165, 42, 42, 0.2);
    padding: 10px;
    color: rgb(74, 12, 12);
}

.header h2{
    margin: 0 auto;
}

.header h4{
    margin: 0;
}

#darkModeSwitch{
    margin: auto 10px;
}
.dark-mode {
    background-color: #4a4949;
    color: #ffffff;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}


/* Nav */
.nav{
    background-color: rgba(34, 170, 255, 0.2);
    margin: 10px auto;
    padding: 10px 20px;
}
.formControl{
    margin: 0 20px;
}
/*Footer*/
.footer{
    background-color: rgba(165, 42, 42, 0.367);
    padding: 10px;
    text-align: center;
    font-style: italic;
}

/**/
.slider-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
}
.slider-item .card-body {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.slider-item .card-body.highlighted {
    opacity: 1;
}
.slider-item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.card-title {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    margin: 0;
}
